<%= render partial: 'hero' %>
<%= render partial: 'service_cards' %>
<%= render partial: 'accelerate' %>


<section>
  <div class="container bg-secondary-gradient py-5">
    <div class="row">
      <div class="text-center">
        <h3 class="">Get results faster</h3>
        <p
          class="text-muted mb-5 col-md-8 col-xl-4 col-xxl-6 text-center mx-auto pt-3"
        >
          We will help you to know where you stand and what you need to do to
          get to where you want to be.
        </p>
      </div>
    </div>

    <div class="py-5">
      <div class="mx-auto" style="max-width: 900px">
        <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
          <div class="col mb-4">
            <div class="card bg-warning-subtle">
              <div class="card-body text-center px-4 py-5 px-md-5">
                <p class="fw-bold card-text mb-2">
                  Step 1: Assesment & Retention
                </p>
                <p class="card-title mb-3">
                  We will assess your current skill level and create a plan to
                  achieve your goals.
                </p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card bg-warning-subtle">
              <div class="card-body text-center px-4 py-5 px-md-5">
                <p class="fw-bold card-text mb-2">
                  Step 2: Learning & Reviewing
                </p>
                <p class="card-title mb-3">
                  We will work together to build your skills and confidence.
                </p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card bg-warning-subtle">
              <div class="card-body text-center px-4 py-5 px-md-5">
                <p class="fw-bold card-text mb-2">
                  Step 3: Practicing & Broadening
                </p>
                <p class="card-title mb-3">
                  We will practice mock interviews and coding challenges to
                  prepare you for the real interview.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'relearn' %>

<%= render partial: 'faq' %>

<%= render partial: 'contact' %>
